{% extends 'base.html' %}
{% block content %}

{% if request.user.role|lower == 'admin' %}
<form method="post">
  {% csrf_token %}
  <h2>Dodaj novi predmet:</h2>
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
       
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    {% csrf_token %}
    <input type="submit" value="Dodaj predmet">
</form>


{% else %}

  <p>No permission</p>

{% endif %}

{% endblock %}
