{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <title>Upisni</title>
  </head>
  <body>

    <nav><ul>
     
        {% if request.user.is_authenticated %}
        
          <li><a href="{% url 'home' %}">Home</a></li>

        {% if request.user.role|lower == 'student' %}
          <li><a href="{% url 'upisni' request.user.id %}">Upisni list</a></li>

        {% elif request.user.role|lower == 'profesor' %}
          <li><a href="{% url 'mysubjects' request.user.id %}">Moji predmeti</a></li>
        {%elif request.user.role|lower == 'admin' %}
          <li><a href="{% url 'subjectlist' %}">Predmeti</a></li>
          <li><a href="{% url 'profesorlist' %}">Profesori</a></li>
          <li><a href="{% url 'studentlist' %}">Studenti</a></li>
        {% endif %}
          <li><a href="{% url 'logout' %}">Logout</a></li>

        {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}

   
    </ul></nav>


    {% block content %} {% endblock %}
    

  </body>
</html>
