{% extends 'base.html' %} {% block content %}
{% csrf_token %}


{% if request.user.role|lower == 'admin' or request.user.id == profesor.id %}
<h2>Predmeti profesora {{profesor.username|capfirst}} - {{profesor.email}}: </h2>

{% for predmet in predmeti %}

    {% if predmet.nositelj.id == profesor.id %}

    <p>{{predmet.name}}
    <a href="{% url 'subjectdetails' predmet.id %}">Details</a>&nbsp;
    <a href="{% url 'popisstudenata' predmet.id %}">Popis studenata</a>
    </p>

    {% endif %}

{% endfor %}



{% else %}

<p>No permission.</p>

{% endif %}

{% csrf_token %}


 {% endblock %}
