{% extends 'base.html' %} {% block content %}

{% if request.user.role|lower == 'admin' or request.user.role|lower == 'profesor' and predmet.nositelj.id == request.user.id %}
<h2>Popis studenata koji su upisali ili polozili predmet {{predmet.name}} </h2>

<h3>Upisali:</h3>
{% for upis in upisani %}
    {% if upis.status == 'upisan' %}
       
        <form method="post">
            <p>{{upis.student}}  &nbsp;{{upis.student.email}}
            {% csrf_token %}
            <input type="hidden" name="student_id" value="{{ upis.student.id }}" />
            <button class='polozio' type="submit" name="status" value="polozen">Položio/la</button>
            <button class='izgubio' type="submit" name="status" value="izgubio/la pravo">Izgubio/la pravo</button>    
            </p>                     
        </form>         

    {% endif %}
{% endfor %}

<h3>Polozili:</h3>
{% for upis in upisani %}
    {% if upis.status == 'polozen' %}
        <form method="post">
            <p>{{upis.student}}  &nbsp;{{upis.student.email}}
            {% csrf_token %}
            <input type="hidden" name="student_id" value="{{ upis.student.id }}" />
            <button class='vrati' type="submit" name="status" value="upisan">Vrati u upis</button>
            <button class='izgubio' type="submit" name="status" value="izgubio/la pravo">Izgubio/la pravo</button>    
            </p>                     
        </form>     
    {% endif %}
{% endfor %}

<h3>Izgubili pravo:</h3>
{% for upis in upisani %}
    {% if upis.status == 'izgubio/la pravo' %}
        <form method="post">
            <p>{{upis.student}}  &nbsp;{{upis.student.email}}
            {% csrf_token %}
            <input type="hidden" name="student_id" value="{{ upis.student.id }}" />
            <button class='vrati' type="submit" name="status" value="upisan">Vrati u upis</button>
            <button class='polozio' type="submit" name="status" value="polozen">Položio/la</button>    
            </p>                     
        </form>     
    {% endif %}
{% endfor %}

{% else %}

<p>You have no permission.</p>
{% endif %}

 {% endblock %}
