{% extends 'base.html' %} {% block content %}


{% if request.user.role|lower == 'admin' %}

<p>Dodaj novog korisnika:  <a href="{% url 'adduser' %}">Dodaj korisnika</a></p>



<h2>List of students:</h2>
{% for user in users %}


    <p>{{user}}
    <a href="{% url 'edituser' user.id %}">Edit</a>
    <a href="{% url 'deleteuser' user.id %}">Delete</a>
    <a href="{% url 'upisni' user.id %}">Upisni list</a>

    </p>

{% endfor %}

{% else %}

<p>No permission for this site.</p>

{% endif %}
 {% endblock %}
