{% extends 'base.html' %} {% block content %}

{% if request.user.role|lower == 'admin' %}
<p>Dodaj novi predmet:  <a href="{% url 'addpredmet' %}">Dodaj predmet</a></p>

<h2>Svi predmeti: </h2>
{% for predmet in predmeti %}

    <p>{{predmet.name}}
    <a href="{% url 'subjectdetails' predmet.id %}">Details</a>&nbsp;
    <a href="{% url 'editsubject' predmet.id %}">Edit</a>&nbsp;
    <a href="{% url 'deletesubject' predmet.id %}">Delete</a>&nbsp;
    <a href="{% url 'addnositelj' predmet.id %}">Professor</a>&nbsp;
    <a href="{% url 'studentspredmet' predmet.id %}">Studenti</a>
    </p>

{% endfor %}


{% else %}
<p>You have no permission</p>

{% endif %}

 {% endblock %}
