{% extends 'base.html' %} {% block content %}

{% if request.user.role|lower == 'admin' or request.user.role|lower == 'student' and request.user.id == student.id %}

<div class="upisnilist">
    <h1>{{student.username|capfirst}}'s Upisni list - {{student.email}}</h1>

    <!-----[ NEUPISANI PREDMETI POREDANI PO SEMESTRU ]---->
    <div class="leftupisni">
        <h2>Neupisani predmeti:</h2>
        {% if student.status == 'red' %}
            {% with ''|center:6 as range %}
                {% for _ in range %}
                    <h3>Semestar {{forloop.counter}}:</h3>
                    {% for predmet in predmeti %}
                        {% if predmet.sem_red == forloop.parentloop.counter and predmet.id not in upisani %}                   
                            <form method="post">
                                <p>{{predmet}} 
                            &nbsp;<a href="{% url 'subjectdetails' predmet.id %}">Details</a>                       
                                {% csrf_token %}
                                <input type="hidden" name="predmet_id" value="{{ predmet.id }}" />
                                <button class='upis' type="submit" name="status" value="upisan">+</button>    
                                </p>                     
                            </form>                                                         
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endwith %}

        {% elif student.status == 'izv' %}
            {% with ''|center:8 as range %}
                {% for _ in range %}
                    <h3>Semestar {{forloop.counter}}:</h3>
                    {% for predmet in predmeti %}
                        {% if predmet.sem_izv == forloop.parentloop.counter and predmet.id not in upisani %}                                           
                                <form method="post">
                                    <p>{{predmet}} 
                                &nbsp;<a href="{% url 'subjectdetails' predmet.id %}">Details</a>  
                            
                                    {% csrf_token %}
                                    <input type="hidden" name="predmet_id" value="{{ predmet.id }}" />
                                    <button class='upis' type="submit" name="status" value="upisan">+</button>    
                                    </p>                     
                                </form>
    
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endwith %}

        {% endif %}
    </div>



    <div class="rightupisni">

        <!-----[ UPISANI PREDMETI POREDANI PO SEMESTRU ]---->
        <h2>Upisani predmeti:</h2>
        {% if student.status == 'red' %}
            {% with ''|center:6 as range %}
                {% for _ in range %}          
                    {% for upis in upisni %}
                        {% if upis.subject.sem_red == forloop.parentloop.counter and upis.status == 'upisan' %}                   
                            <form method="post">
                                <p>Semestar {{forloop.parentloop.counter}} - {{upis.subject.name}} 
                            &nbsp;<a href="{% url 'subjectdetails' upis.subject.id %}">Details</a>  
                        
                                {% csrf_token %}
                                <input type="hidden" name="predmet_id" value="{{ upis.subject.id }}" />
                                <button class='ispis' type="submit" name="status" value="ispis">-</button>    
                                </p>                     
                            </form>               
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endwith %}

        {% elif student.status == 'izv' %}
            {% with ''|center:8 as range %}
                {% for _ in range %}          
                    {% for upis in upisni %}
                        {% if upis.subject.sem_izv == forloop.parentloop.counter and upis.status == 'upisan' %}                   
                                <form method="post">
                                    <p>Semestar {{forloop.parentloop.counter}} - {{upis.subject.name}} 
                                &nbsp;<a href="{% url 'subjectdetails' upis.subject.id %}">Details</a>  
                            
                                    {% csrf_token %}
                                    <input type="hidden" name="predmet_id" value="{{ upis.subject.id }}" />
                                    <button class='ispis' type="submit" name="status" value="ispis">-</button>    
                                    </p>                     
                                </form>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endwith %}
        {% endif %}

        <!-----[ POLOZENI PREDMETI POREDANI PO SEMESTRU ]---->
        <h2>Položeni predmeti:</h2>
        {% if student.status == 'red' %}
            {% with ''|center:6 as range %}
                {% for _ in range %}          
                    {% for upis in upisni %}
                        {% if upis.subject.sem_red == forloop.parentloop.counter and upis.status == 'polozen' %}                   
                            <p>Semestar {{forloop.parentloop.counter}} - {{upis.subject}} 
                            <a href="{% url 'subjectdetails' upis.subject.id %}">Details</a></p>               
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endwith %}

        {% elif student.status == 'izv' %}
            {% with ''|center:8 as range %}
                {% for _ in range %}          
                    {% for upis in upisni %}
                        {% if upis.subject.sem_izv == forloop.parentloop.counter and upis.status == 'polozen' %}                   
                            <p>Semestar {{forloop.parentloop.counter}} - {{upis.subject}} 
                            <a href="{% url 'subjectdetails' upis.subject.id %}">Details</a></p>                  
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endwith %}
        {% endif %}
        
        
        
        <!-----[ PREDMETI NA KOJE SE IZGUBILO PRAVO POREDANI PO SEMESTRU ]---->
        <h2>Predmeti na koje ste izgubili pravo za ovu godinu:</h2>
        {% if student.status == 'red' %}
            {% with ''|center:6 as range %}
                {% for _ in range %}          
                    {% for upis in upisni %}
                        {% if upis.subject.sem_red == forloop.parentloop.counter and upis.status == 'izgubio/la pravo' %}                   
                            <p>Semestar {{forloop.parentloop.counter}} - {{upis.subject}} 
                            <a href="{% url 'subjectdetails' upis.subject.id %}">Details</a></p>               
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endwith %}

        {% elif student.status == 'izv' %}
            {% with ''|center:8 as range %}
                {% for _ in range %}          
                    {% for upis in upisni %}
                        {% if upis.subject.sem_izv == forloop.parentloop.counter and upis.status == 'izgubio/la pravo' %}                   
                            <p>Semestar {{forloop.parentloop.counter}} - {{upis.subject}} 
                            <a href="{% url 'subjectdetails' upis.subject.id %}">Details</a></p>                  
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endwith %}
        {% endif %}
        
    </div>  

</div>


{% else %}
<p>No permission for this site.</p>

{% endif %}

 {% endblock %}
